* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Navigation bar */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 120px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav button {
    background-color: #469165;
    color: white;

    border: none;
    border-radius: 4px;

    padding: 12px 16px;
}

header section {
    background: url("../assets/hero-bg.png");
    background-repeat:inherit;
    width: 100%;
    height: 675px;
    max-width:unset;

    
}

.primary-section {
    text-align: center;
}

.header-container {  
    padding: 120px 130px;
}

.header-container .button1 {
    color: #30B868;
    padding: 8px 12px;
    border-radius: 20px;

    margin-bottom: 16px;
}

header section .paragraphs {
    width: 50%;
    margin-left: 415px;
    margin-right: 415px;
}

.paragraphs h1 {
    font-size: 72px;

    margin-bottom: 16px;
}

.paragraphs .description {
    color: white;
    font-size: 18px;
    line-height: 24px;

    margin-bottom: 32px;
}

.duel-buttons .your-vault {
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 12px;
    border:none;
    border-radius: 4px;

    margin-right: 16px;
}

.duel-buttons .how-works {
    background: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 11px;
    border: 1px solid white;
    border-radius: 4px;
}