* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Navigation bar */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 120px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav button {
    background-color: #469165;
    color: white;

    border: none;
    border-radius: 4px;

    padding: 12px 16px;
}

header section {
    background: url("../assets/hero-bg.png");
    background-repeat: inherit;
    width: 100%;
    height: 675px;
    max-width: unset;

    text-align: center;
}

.header-container {
    padding: 120px 130px;
}

.header-container .button1 {
    color: #30B868;
    padding: 8px 12px;
    border-radius: 20px;

    margin-bottom: 16px;
}

header section .paragraphs {
    width: 50%;
    margin-left: 415px;
    margin-right: 415px;
}

.paragraphs h1 {
    font-size: 72px;

    margin-bottom: 16px;
}

.paragraphs .description {
    color: white;
    font-size: 18px;
    line-height: 24px;

    margin-bottom: 32px;
}

.duel-buttons .your-vault {
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 12px;
    border: none;
    border-radius: 4px;

    margin-right: 16px;
}

.duel-buttons .how-works {
    background: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 11px;
    border: 1px solid white;
    border-radius: 4px;
}


main .section1 {
    width: 100%;
    text-align: center;

    padding: 120px;
}

main .whole {
    width: 85%;
}

.section1 .texts h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.section1 .texts p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;

    margin-bottom: 44px;
}

.section1 .card-container {
    display: flex;

    gap: 24px;
}

.section1 .card-container .card1 {
    width: 20%;
    padding: 24px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card1 button {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;

    margin-bottom: 16px;
}

.card1 h3 {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 16px;
}

.card1 p {
    width: 274px;
    color: #627382;
    line-height: 20px;

    margin: 0 auto 25px;
}


.sec2-container {
    padding: 0 120px 120px;

    display: flex;
    gap: 60px;
    align-items: center;
}

.sec2-container .sec2-allTexts {
    width: 43%;
}

.allTexts-1 h4 {
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.allTexts-1 h1 {
    font-weight: bold;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.allTexts-1 p {
    color: #627382;
    line-height: 25px;
    width: 70%;
    text-align: justify;
    margin-bottom: 40px;
}

.allTexts-2 ul {
    list-style: none;
}

.allTexts-2 li {
    margin-bottom: 16px;
}

.section3 {
    padding: 0 120px 120px;
}

.sec3-container {
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
}

.sec3-container h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.sec3-container .p1 {
    width: 38%;
    line-height: 24px;
    color: #627382;
    margin: 0 auto 24px;
}

.sec3-container button {
    background-color: #469165;
    color: white;
    padding: 12px 16px;
    font-weight: 600;

    border: none;
    border-radius: 4px;

    margin-bottom: 16px;
}

.sec3-container .p2 {
    width: 38%;
    line-height: 20px;
    color: #627382;
    margin: 0 auto 24px;
}

footer {
    background-color: #001931;
}

footer .footer-container {
    padding: 120px 120px 30px;
}

.footer-container .div1 {
    width: 85%;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .div1 h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: white;

    margin-bottom: 10px;
}

.icons .link-btn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;

    margin-right: 16px; 
}

.fa-facebook {
    font-size: 19px;
    color: white;
    padding-top: 10px;
}

.footer-container .div2 {
    color: white;
    line-height: 24px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}